{% extends 'base.html.twig' %}

{% block body %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Contest Finished!</h1>
    <p class="lead">
      {{ winner.name }} is the winner!
    </p>
  </main>
{% endblock body %}