{% extends 'base.html.twig' %}

{% block body %}
  <main role="main" class="inner cover">
    {% if history.winners is not empty %}
      <h1 class="cover-heading">Last 5 winners!</h1>
      <ul>
        {% for winner in history.winners %}
          <li>{{ winner['name'] }} - {{ winner['score'] }} points</li>
        {% endfor %}
      </ul>

      <h1 class="cover-heading">TOP WINNER</h1>
      {{ history.topWinner['name'] }} -
      {{ history.topWinner['score'] }} points
    {% else %}
      No history
    {% endif %}
  </main>
{% endblock body %}