{% extends 'base.html.twig' %}

{% block body %}
  <main role="main" class="inner cover">
    <p class="lead">
      <a href="{{ path('contest_round_play', {id: contest.id}) }}" class="btn btn-lg btn-secondary">
          Next round
      </a>
    </p>
  </main>
{% endblock body %}